

    <div class="masonry-box post-media">
        <img src="{{blog.banner.url}}" alt="" class="img-fluid">
        <div class="shadoweffect">
        <div class="shadow-desc">
            <div class="blog-meta">
                <span class="bg-green"><a href="{% url 'category' blog.category.slug %}" title="">{{blog.category}}</a></span>
                <h4><a href="{% url 'blog_detail' blog.slug %}" title="">{{blog.title}}</a></h4>
                <small><a href="javascript:void(0)" title="">{{blog.created_date}}</a></small>
                <small><a href="{% url 'user_information' blog.user.username%}" title="">by {{blog.user.username}}</a></small>
            </div><!-- end meta -->
        </div><!-- end shadow-desc -->
    </div><!-- end shadow -->
    </div><!-- end post-media -->
