{% extends 'base.html' %}
{% load static %}
{% block title %} blogs {% endblock title %}

{% block content %}

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img src="{% static 'upload/banner_02.jpg' %}" alt="" class="img-fluid">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <hr class="invis">

                    <div class="blog-grid-system">
                        <div class="row">
                            {% for blog in blogs %}
                            <div class="col-md-6">
                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="{% url 'blog_detail' blog.slug %}" title="">
                                            <img src="{{blog.banner.url}}" alt="" class="img-fluid">
                                            <div class="hovereffect">
                                                <span></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta big-meta">
                                        <h4><a href="{% url 'blog_detail' blog.slug %}" title="">{{blog.title}}
                                        </a></h4>
                                        <p>{{blog.text}}</p>
                                        <small><a href="blog-category-01.html" title="">{{blog.category}}</a></small>
                                        <small><a href="single.html" title="">{{blog.created_date}}</a></small>
                                        <small><a href="{% url 'user_information' blog.user.username %}" title="">by {{blog.user.username}}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                            </div><!-- end col -->
                            {% endfor %}
                        </div><!-- end row -->
                    </div><!-- end blog-grid-system -->
                </div><!-- end page-wrapper -->

                <hr class="invis3">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            {% include 'pagination.html' %}
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

            {% include 'sidebar.html' %}
        </div><!-- end row -->
    </div><!-- end container -->
</section>

{% endblock content %}