{% load static %}
<div class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
                </div><!-- end logo -->
            </div>
        </div><!-- end row -->
    </div><!-- end header-logo -->
</div><!-- end header -->

<header class="header">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-toggleable-md">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cloapediamenu" aria-controls="cloapediamenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-center" id="cloapediamenu">
                <ul class="navbar-nav">
                    <li class="nav-item d-flex">
                        <a class="nav-link color-red-hover align-self-center" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item d-flex dropdown has-submenu hidden-md-down hidden-sm-down hidden-xs-down">
                        <a class="align-self-center nav-link dropdown-toggle " href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                        <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                            {% for category in categories %}
                            <li><a class="dropdown-item" href="{% url 'category' category.slug %}">{{category.title}}</a></li>
                            {% endfor %}
                            <li><hr class="dropdown-divider"></li>  
                        </ul>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="nav-link color-pink-hover align-self-center" href="{% url 'blog_list' %}">Blogs</a>
                    </li>
                    {% if user.is_authenticated %}
                    {% comment %} <li class="nav-item d-flex">
                        <a class="nav-link color-red-hover align-self-center" href="{% url 'profile' %}"><img src="{{ request.user.get_profile_picture }}" class="rounded-circle avatar-header" style="width: 2rem;" alt="Avatar" /></a>
                    </li> {% endcomment %}
                    <li class="nav-item d-flex dropdown has-submenu hidden-md-down hidden-sm-down hidden-xs-down">
                        <a class="align-self-center nav-link " id="dropdown01" href="{% url 'profile' %}"><img src="{{ request.user.get_profile_picture }}" class="rounded-circle avatar-header" style="width: 2rem;" alt="Avatar" /></a>
                        <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'notification' %}">
                                {% if unseen == 0 %}
                                Notification
                                {% else %}
                                Notification ({{ unseen }})
                                {% endif %}
                                </a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                            <li><hr class="dropdown-divider"></li>  
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item d-flex">
                        <a class="nav-link color-red-hover align-slef-center" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div><!-- end container -->
</header><!-- end header -->