{% load static %}
<div class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo">
                    <a href="index.html"><img src="{% static 'images/logo.png' %}" alt=""></a>
                </div><!-- end logo -->
            </div>
        </div><!-- end row -->
    </div><!-- end header-logo -->
</div><!-- end header -->

<header class="header">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-toggleable-md">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cloapediamenu" aria-controls="cloapediamenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-center" id="cloapediamenu">
                <ul class="navbar-nav">
                    <li class="nav-item d-flex">
                        <a class="nav-link color-aqua-hover align-self-center" href="{% url 'create_blog' %}">New</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="nav-link color-pink-hover align-self-center" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item d-flex dropdown has-submenu hidden-md-down hidden-sm-down hidden-xs-down">
                        <a class="align-self-center nav-link dropdown-toggle " href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                        <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                            {% comment %} <li>
                                <div class="mega-menu-content clearfix">
                                    <div class="tab">
                                        <button class="tablinks active" onclick="openCategory(event, 'cat01')">Beauty</button>
                                        <button class="tablinks" onclick="openCategory(event, 'cat02')">Fashion</button>
                                        <button class="tablinks" onclick="openCategory(event, 'cat03')">Travel</button>
                                        <button class="tablinks" onclick="openCategory(event, 'cat04')">Architecture</button>
                                        <button class="tablinks" onclick="openCategory(event, 'cat05')">Recipes</button>
                                    </div>
                                </div><!-- end mega-menu-content -->
                            </li> {% endcomment %}
                            {% for category in categories %}
                            <li><a class="dropdown-item" href="{% url 'category' category.slug %}">{{category.title}}</a></li>
                            {% endfor %}
                            <li><hr class="dropdown-divider"></li>  
                        </ul>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="nav-link color-pink-hover align-self-center" href="{% url 'blog_list' %}">Blogs</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="nav-link color-aqua-hover align-self-center" href="blog-category-03.html">Nofications</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item d-flex">
                        <a class="nav-link color-red-hover align-self-center" href="{% url 'profile' request.user.pk %}"><img src="{{request.user.get_profile_picture}}" class="rounded-circle" style="width: 2rem;" alt="Avatar" /></a>
                    </li>
                    
                    <li class="nav-item d-flex">
                        <a class="nav-link color-red-hover align-self-center" href="{% url 'logout' %}">Logout</a>
                    </li>
                    
                    {% else %}
                    <li class="nav-item d-flex">
                        <a class="nav-link color-red-hover align-slef-center" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div><!-- end container -->
</header><!-- end header -->