{% extends 'base.html' %}
{% load static%}

{% block title %} {% endblock title %}

{% block home_content %}

  <section class="section first-section">
      <div class="container-fluid">
          <div class="masonry-blog clearfix">
              <div class="left-side">
                  <div class="masonry-box post-media">
                        <img src="{{left_blog.banner.url}}" alt="" class="img-fluid">
                        <div class="shadoweffect">
                          <div class="shadow-desc">
                              <div class="blog-meta">
                                  <span class="bg-aqua"><a href="{% url 'category' left_blog.category.slug %}" title="">{{left_blog.category}}</a></span>
                                  <h4><a href="{% url 'blog_detail' left_blog.slug %}" title="">{{left_blog.title}}</a></h4>
                                  <small><a href="{% url 'blog_detail' left_blog.slug %}" title="">{{left_blog.created_date}}</a></small>
                                  <small><a href="{% url 'user_information' left_blog.user.username %}" title="">by {{left_blog.user.username}}</a></small>
                              </div><!-- end meta -->
                          </div><!-- end shadow-desc -->
                      </div><!-- end shadow -->
                  </div><!-- end post-media -->
              </div><!-- end left-side -->

              <div class="center-side">
                  {% for blog in center_blogs %}
                  <div class="masonry-box post-media">
                        <img src="{{blog.banner.url}}" alt="" class="img-fluid">
                        <div class="shadoweffect">
                          <div class="shadow-desc">
                              <div class="blog-meta">
                                  <span class="bg-green"><a href="{% url 'category' blog.category.slug %}" title="">{{blog.category}}</a></span>
                                  <h4><a href="{% url 'blog_detail' blog.slug %}" title="">{{blog.title}}</a></h4>
                                  <small><a href="{% url 'blog_detail' blog.slug %}" title="">{{blog.created_date}}</a></small>
                                  <small><a href="{% url 'user_information' blog.user.username%}" title="">by {{blog.user.username}}</a></small>
                              </div><!-- end meta -->
                          </div><!-- end shadow-desc -->
                      </div><!-- end shadow -->
                  </div><!-- end post-media -->
                  {% endfor %}
              </div><!-- end left-side -->

              <div class="right-side hidden-md-down">
                  <div class="masonry-box post-media">
                        <img src="{{right_blog.banner.url}}" alt="" class="img-fluid">
                        <div class="shadoweffect">
                          <div class="shadow-desc">
                              <div class="blog-meta">
                                  <span class="bg-aqua"><a href="{% url 'category' right_blog.category.slug %}" title="">{{right_blog.category}}</a></span>
                                  <h4><a href="{% url 'blog_detail' right_blog.slug %}" title="">{{right_blog.title}}</a></h4>
                                  <small><a href="{% url 'blog_detail' right_blog.slug %}" title="">{{right_blog.created_date}}</a></small>
                                  <small><a href="{% url 'user_information' right_blog.user.username %}" title="">by {{right_blog.user.username}}</a></small>
                              </div><!-- end meta -->
                          </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                  </div><!-- end post-media -->
              </div><!-- end right-side -->
          </div><!-- end masonry -->
      </div>
  </section>

  <section class="section">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="section-title">
                      <h3 class="color-aqua"><a href="{% url 'category' "du-lich" %}" title="">Du lịch</a></h3>
                  </div><!-- end title -->

                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          {% for blog in travel_blogs|slice:"0:2" %}
                          <div class="blog-box">
                              <div class="post-media">
                                  <a href="{% url 'blog_detail' blog.slug %}" title="">
                                      <img src="{{blog.banner.url}}" alt="" class="img-fluid">
                                      <div class="hovereffect">
                                          <span></span>
                                      </div><!-- end hover -->
                                  </a>
                              </div><!-- end media -->
                              <div class="blog-meta big-meta">
                                  <h4><a href="{% url 'blog_detail' blog.slug %}" title="">{{blog.title}}</a></h4>
                                  {% comment %} <p>{{blog.description|safe|truncatechars:20}}</p> {% endcomment %}
                                  <small><a href="{% url 'category' blog.category.slug %}" title="">{{blog.category}}</a></small>
                                  <small><a href="javascript:void(0)" title="">{{blog.created_date}}</a></small>
                                  <small><a href="{% url 'user_information' blog.user.username%}" title="">by {{blog.user.username}}</a></small>
                              </div><!-- end meta -->
                          </div><!-- end blog-box -->
                          <hr class="invis">
                        {% endfor %}
                          
                      </div><!-- end col -->
                  </div><!-- end row -->
              </div><!-- end col -->

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="section-title">
                      <h3 class="color-pink"><a href="{% url 'category' "giao-duc" %}" title="">Giáo dục</a></h3>
                  </div><!-- end title -->
                  <div class="row">
                      
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        {% comment %} {% for blog in Fashion_blogs|slice:"0: 2%}   {% endcomment %}
                        {% for blog in education_blogs|slice:"0:2" %}
                        <div class="blog-box">
                              <div class="post-media">
                                  <a href="{% url 'blog_detail' blog.slug %}" title="">
                                      <img src="{{blog.banner.url}}" alt="" class="img-fluid">
                                      <div class="hovereffect">
                                          <span></span>
                                      </div><!-- end hover -->
                                  </a>
                              </div><!-- end media -->
                              <div class="blog-meta">
                                  <h4><a href="{% url 'blog_detail' blog.slug %}" title="">{{blog.title|truncatechars:45}}</a></h4>
                                  <small><a href="{% url 'category' blog.category.slug %}" title="">{{blog.category}}</a></small>
                                  <small><a href="javascript:void(0)" title="">{{blog.created_date}}</a></small>
                              </div><!-- end meta -->
                          </div><!-- end blog-box -->

                          <hr class="invis">
                        {% endfor %}
                      </div><!-- end col -->

                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          {% for blog in education_blogs|slice:"2:4" %}
                          <div class="blog-box">
                            <div class="post-media">
                                <a href="{% url 'blog_detail' blog.slug %}" title="">
                                    <img src="{{blog.banner.url}}" alt="" class="img-fluid">
                                    <div class="hovereffect">
                                        <span></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta">
                                <h4><a href="{% url 'blog_detail' blog.slug %}" title="">{{blog.title|truncatechars:45}}</a></h4>
                                <small><a href="blog-category-01.html" title="">{{blog.category}}</a></small>
                                <small><a href="blog-category-01.html" title="">{{blog.created_date}}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                          <hr class="invis">
                          {% endfor %}
                      </div><!-- end col -->
                  </div><!-- end row -->
              </div><!-- end col -->
          </div><!-- end row -->

          <hr class="invis1">

          <hr class="invis1">

          <div class="row">
              <div class="col-lg-8">
                  <div class="blog-list clearfix">
                      <div class="section-title">
                          <h3 class="color-green"><a href="{% url 'category' "cong-nghe" %}" title="">Công nghệ</a></h3>
                      </div><!-- end title -->
                      {% for blog in technology_blogs|slice:"0:2" %}
                      <div class="blog-box row">
                          <div class="col-md-4">
                              <div class="post-media">
                                  <a href="{% url 'blog_detail' blog.slug %}l" title="">
                                      <img src="{{blog.banner.url}}" alt="" class="img-fluid">
                                      <div class="hovereffect"></div>
                                  </a>
                              </div><!-- end media -->
                          </div><!-- end col -->

                          <div class="blog-meta big-meta col-md-8">
                              <h4><a href="{% url 'blog_detail' blog.slug %}" title="">{{blog.title}}</a></h4>
                              <p>{{blog.description|safe|truncatechars:20}}</p>
                              <small><a href="{% url 'category' blog.category.slug %}" title="">{{blog.category}}</a></small>
                              <small><a href="javascript:void(0)" title="">{{blog.created_date}}</a></small>
                              <small><a href="{% url 'user_information' blog.user.username%}" title="">by {{blog.user.username}}</a></small>
                          </div><!-- end meta -->
                      </div><!-- end blog-box -->

                      <hr class="invis">
                      {% endfor %}
                  </div><!-- end blog-list -->

                  <hr class="invis">

                  <div class="blog-list clearfix">
                    <div class="section-title">
                        <h3 class="color-red"><a href="{% url 'category' "the-gioi" %}" title="">Thế giới</a></h3>
                    </div><!-- end title -->
                    {% for blog in world_blogs|slice:"0:2" %}
                    <div class="blog-box row">
                        <div class="col-md-4">
                            <div class="post-media">
                                <a href="{% url 'blog_detail' blog.slug %}" title="">
                                    <img src="{{blog.banner.url}}" alt="" class="img-fluid">
                                    <div class="hovereffect"></div>
                                </a>
                            </div><!-- end media -->
                        </div><!-- end col -->

                        <div class="blog-meta big-meta col-md-8">
                            <h4><a href="{% url 'blog_detail' blog.slug %}" title="">{{blog.title}}</a></h4>
                            <p>{{blog.description|safe|truncatechars:20}}</p>
                            <small><a href="{% url 'category' blog.category.slug %}" title="">{{blog.category}}</a></small>
                            <small><a href="{% url 'blog_detail' blog.slug %}" title="">{{blog.created_date}}</a></small>
                            <small><a href="{% url 'user_information' blog.user.username%}" title="">by {{blog.user.username}}</a></small>
                        </div><!-- end meta -->
                    </div><!-- end blog-box -->

                    <hr class="invis">
                    {% endfor %}
                </div><!-- end blog-list -->
              </div><!-- end col -->

              <div class="col-lg-4">
                  {% comment %} <hr class="invis"> {% endcomment %}

                  <div class="section-title">
                      <h3 class="color-grey"><a href="{% url 'category' "phap-luat" %}" title="">Pháp luật</a></h3>
                  </div><!-- end title -->
                  {% for blog in law_blogs|slice:"0:3" %}
                  <div class="blog-box">
                      <div class="post-media">
                          <a href="{% url 'blog_detail' blog.slug %}" title="">
                              <img src="{{blog.banner.url}}" alt="" class="img-fluid">
                              <div class="hovereffect">
                                  <span></span>
                              </div><!-- end hover -->
                          </a>
                      </div><!-- end media -->
                      <div class="blog-meta">
                          <h4><a href="{% url 'blog_detail' blog.slug %}" title="">{{blog.title}}</a></h4>
                          <small><a href="{% url 'category' blog.category.slug %}" title="">{{blog.category}}</a></small>
                          <small><a href="javascript:void(0)" title="">{{blog.created_date}}</a></small>
                      </div><!-- end meta -->
                  </div><!-- end blog-box -->

                  <hr class="invis">
                  {% endfor %}
              </div><!-- end col -->
          </div><!-- end row -->

          <hr class="invis1">
      </div><!-- end container -->
  </section>
      
  <!-- Core JavaScript
  ================================================== -->
{% endblock home_content %}