{% extends 'base_lr.html' %}
{% load static %}

{% block content  %}

{% comment %} <div id="content-container" class="container p-none">
    <div class="lgn-container col-lg-12">
        <form id="login-form" method="post" 
              action="{% url 'login' %}">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <td><label for="id_username">Username</label></td>
                    <td><input id="id_username" name="username" 
                               type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td><label for="id_password">Password</label></td>
                    <td><input id="id_password" name="password" 
                               type="password" class="form-control"></td>
                </tr>
            </table>
            {% if form.errors %}
                <p class=" label label-danger">
                    Your username and password didn't match. 
                    Please try again.
                </p>
            {% endif %}
            <a href="{% url 'registration' %}"
            class="btn btn-primary pull-right ml-2">Registration</a>

            <input type="submit" value="Login" 
                   class="btn btn-primary pull-right" />
        </form>
    </div>
</div> {% endcomment %}

<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <form class="card-body p-5 text-center" method="post" action="{% url 'login' %}">
            {% csrf_token %}
              <h3 class="mb-5">Sign in</h3>
  
              <div class="form-outline mb-4">
                <input type="text" id="username" name="username" class="form-control form-control-lg" />
                <label class="form-label" for="username">Username</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" name="password" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>
  
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-start mb-4">
                <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                <label class="form-check-label" for="form1Example3"> Remember password </label>
              </div>
  
              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
  
              <hr class="my-4">
  
              <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
              <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button>
              <a href="{% url 'registration' %}">haven't account</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}