{% load static %}

<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="sidebar">
        <div class="widget">
            <h2 class="widget-title">Search</h2>
            <form class="form-inline search-form" action="{% url 'search' %}" method="get">
                <div class="form-group">
                    <input type="text" name="search" class="form-control" placeholder="Search on the site">
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- end widget -->

        <div class="widget">
            <h2 class="widget-title">Recent Posts</h2>
            <div class="blog-list-widget">
                <div class="list-group">
                    {% for blog in recent_blogs|slice:":3"%}
                    <a href="{% url 'blog_detail' blog.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 justify-content-between">
                            <img src="{{blog.banner.url}}" alt="" class="img-fluid float-left">
                            <h5 class="mb-1">{{blog.title}}</h5>
                            <small>{{blog.created_date}}</small>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div><!-- end blog-list -->
        </div><!-- end widget -->

        {% comment %} <div class="widget">
            <h2 class="widget-title">Advertising</h2>
            <div class="banner-spot clearfix">
                <div class="banner-img">
                    <img src="{% static 'upload/banner_03.jpg' %}" alt="" class="img-fluid">
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div><!-- end widget -->

        <div class="widget">
            <h2 class="widget-title">Instagram Feed</h2>
            <div class="instagram-wrapper clearfix">
                <a class="" href="#"><img src="{% static 'upload/insta_01.jpeg' %}" alt="" class="img-fluid"></a>
                <a href="#"><img src="{% static 'upload/insta_02.jpeg' %}" alt="" class="img-fluid"></a>
                <a href="#"><img src="{% static 'upload/insta_03.jpeg' %}" alt="" class="img-fluid"></a>
                <a href="#"><img src="{% static 'upload/insta_04.jpeg' %}" alt="" class="img-fluid"></a>
                <a href="#"><img src="{% static 'upload/insta_05.jpeg' %}" alt="" class="img-fluid"></a>
                <a href="#"><img src="{% static 'upload/insta_06.jpeg' %}" alt="" class="img-fluid"></a>
                <a href="#"><img src="{% static 'upload/insta_07.jpeg' %}" alt="" class="img-fluid"></a>
                <a href="#"><img src="{% static 'upload/insta_08.jpeg' %}" alt="" class="img-fluid"></a>
                <a href="#"><img src="{% static 'upload/insta_09.jpeg' %}" alt="" class="img-fluid"></a>
            </div><!-- end Instagram wrapper -->
        </div><!-- end widget --> {% endcomment %}

        <div class="widget">
            <h2 class="widget-title">Popular Categories</h2>
            <div class="link-widget">
                <ul>
                    <li><a href="{% url 'category' 'fashion' %}">Fashion <span>(21)</span></a></li>
                    <li><a href="{% url 'category' 'lifestyle' %}">Lifestyle <span>(15)</span></a></li>
                    <li><a href="{% url 'category' 'health-beauty' %}">Health Beauty <span>(22)</span></a></li>
                    <li><a href="{% url 'category' 'food-drink' %}">Food & Drink <span>(87)</span></a></li>
                </ul>
            </div><!-- end link-widget -->
        </div><!-- end widget -->
    </div><!-- end sidebar -->
</div><!-- end col -->